<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/30c3646248.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Write blog</title>
</head>
<body>
    <nav>
        <h4>Write blog</h4>
        <%- nav_bar %> 
        <i class="fa-solid fa-user"></i>
        <a href="/users/<%= userId %>" class="usersection"> <%= userName %></a>
    </nav>
    
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                Write Blog
            </div>
        </div>

        <% if (typeof message != 'undefined') { %>
            <h4 class="alert alert-danger mt-4"><%= message %></h4>
        <% } %>
        
        <div class="card-body">
            <form action="/blog/saveblog" method="POST" onsubmit="test()">
                <div class="mb-3">
                    <label for="Title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" value="<%= lastTitle %>" required>
                </div>
                
                <div class="mb-3">
                    <label for="Summary" class="form-label">Summary</label>
                    <input type="text" class="form-control" id="summary" name="summary" value="<%= lastSummary %>" required>
                </div>
                
                    
                <div class="mb-3">
                    <label for="Content" class="form-label">Content (Markdown format) </label>
                    <textarea class="form-control" id="content" name ="content"  rows="20" required><%= lastContent %></textarea>
                </div>
                
                Category
                <div class="category-row">
                    <div class="category-column"> 
                        <%- category_column_1 %>
                    </div>
                    <div class="category-column"> 
                        <%- category_column_2 %>
                    </div>
                    <div class="category-column">
                        <%- category_column_3 %>
                    </div>
                    <div class="category-column">
                        <%- category_column_4 %>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" onclick="test()">Upload</button>

            </form>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>
